.Card {
  border-radius: 7px;
  width: fit-content;
  height: fit-content;
  padding: 0 5px;
  margin: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.Card p {
  font-size: 1.2rem;
}

.Card h1,
.Card p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
